<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="pQ1ojcMNlhF56sjadpc9sNvZV3aYt5VHXQrLMDKcqjhsXHQS+8UH8wVF8QwwtWKo3+Sh+Qy/bYZqD++OCZ4gWg==" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" media="all" href="/assets/application-16605eadccf37c23d1fa922dd614f45b9f2cf25723e2e4032f1975b02ea7d11f.css" data-turbolinks-track="reload" />
    <script src="/assets/application-3ac47b8571e58aab844e8d0a988f0f55d8a16c1a75953470343f79cf1bec8528.js" data-turbolinks-track="reload"></script>
  </head>
  <body class="header">
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
            <a class="navbar-brand" href="/"><span>Bookers</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto"> 
              <% if user_signed_in? %>
                <li class="">
                  <%= link_to user_path(current_user), class:"btn btn-link" do %>
                  <span class="glyphicon glyphicon-home" aria-hidden="true"> Home</span>
                  <% end %>
                </li>
                <li class="">
                  <%= link_to users_path, class:"btn btn-link" do %>
                  <span class="glyphicon glyphicon-user" aria-hidden="true"> Users</span>
                  <% end %>
                </li>
                <li class="">
                  <%= link_to books_path, class:"btn btn-link" do %>
                  <span class="glyphicon glyphicon-book" aria-hidden="true"> Books</span>
                  <% end %>
                </li>
                <li class="">
                  <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-link" do %>
                  <span class="glyphicon glyphicon-log-out" aria-hidden="true"> Logout</span>
                  <% end %>
                </li>
              <% else %>
                <li class="">
                  <%= link_to root_path, class:"btn btn-link" do %>
                  <span class="glyphicon glyphicon-home" aria-hidden="true"> Home</span>
                  <% end %>
                </li>
                <li class="">
                  <%= link_to home_about_path, class:"btn btn-link" do %>
                  <span class="glyphicon glyphicon-link" aria-hidden="true"> About</span>
                  <% end %>
                </li>
                <li class="">
                  <%= link_to new_user_registration_path, class:"btn btn-link" do %>
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"> sign up</span>
                  <% end %>
                </li>
                <li class="">
                  <%= link_to new_user_session_path, class:"btn btn-link" do %>
                  <span class="glyphicon glyphicon-log-in" aria-hidden="true"> login</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div class="body">
      <p class="notice"><%= notice %></p>

      <%= yield %>


    <footer>
      <div class='container mt-5'>
        <div class='row'>
          <div class='mx-auto'>
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>